<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATA</title>
</head>

<body>
    <img src="{{img}}" alt="" data-src = "{{link}}">
    <p style="color: aqua;">{{ price }}</p>
    <p style="color: aqua;">{{ link }}</p>
    <p style="color: aqua;">{{ img }}</p> 
    <p style="color: aqua;">{{ title}}</p>   
    
    
    <img src="{{ktitle}}" alt="">
    <p style="color:brown">{{ kimg }}</p>
    <p style="color:brown">{{ kprice }}</p>
   
    <p style="color:brown">{{ klink }}</p>
    
    <p style="color:brown">{{ ktitle }}</p>
    
    
<form action="/action" method= 'GET'>
    <input type = "text" placeholder="query" name = 'query'>
    <button>Submit</button>
</form>
    
</body>
</html>